@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Estágios do Deis</h1>
    <h3> Website desenvolvido na Cadeira Curricular de Programação WEB</h3>
    <h4> Pedro Cruz, 21240043</h4>
    <h4> Pedro Franco, 21240006</h4>
</div>
@Html.Action("TodosEstagios", "Estagios")
